:root {
    --background-color: #f5f5f5;
    --text-color: #333333;
}

[data-theme="dark"] {
    --background-color: #333333;
    --text-color: #ffffff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: all 0.3s ease;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--text-color);
    color: var(--background-color);
}

.theme-switch button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--text-color);
    color: var(--background-color);
}
#current-theme{
    font: 0.5em sans-serif;
}


.timer-container {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    margin: 0 auto;
    text-align: center;
    padding:30px 20px;
    border-radius: 2%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: 40%;
    width: 400px;
}
#name-input{
    margin: 20px 0;
    font-size:0;
}
#name-input input{
    vertical-align: middle;
    padding:0;
    margin:0;
}
#name-input button{
    padding:5px 6px;
    margin:0 10px;
    vertical-align: middle;
    font-size: 1rem;
}
#name-input input{
    border: none;
    /* 可选的，移除焦点时边框颜色变化 */
    outline: none;
    font-size: 1.5rem;
   
}
.time-input {
    margin-bottom: 30px;
    font: 1.2em sans-serif;
    margin: 30px 0;
}
#timer-name {
    width: 150px;
    margin-bottom: 10px;
    font-size: 16px;
}
.controls button {
    margin: 5px;
    padding: 10px;
    font-size: 1em;
}
#timer-display {
    font-size: 2em;
    margin: 20px 0;
}
#timer-name-display{
    cursor:pointer;
}
#progress-bar {
    width: 100%;
    height: 15px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    display: none;
}
#progress {
    height: 100%; 
    width: 0%;
    background: #4CAF50;
    transition: width 1s linear;
    border-radius: 10px;
}
select {
    margin: 5px;
    padding: 8px 15px;
    font-size: 1rem;
    width: 80px;
    border: none;
    outline: none;
}
.controls button{
    cursor:pointer;
    border-radius: 15%;
}
.controls button svg{
    height: 20px;
    width: 20px;   
}
.footer{
    position: relative;
    bottom: 15px;
    unicode-bidi: isolate;
    padding: 24px 0;
    margin-top: 24px;
    border-top: 1px dashed var(--color-neutral-200);
}
@media screen and (min-width:320px) and (max-width:360px){
    body{
    font-size: 12px;
    }
}
@media screen and (min-width:360px) and (max-width:390px){
    body{
        font-size: 13px;
    }
}
@media screen and (min-width:390px) and (max-width:460px){
    body{
        font-size: 14px;
    }
}

@media screen and (min-width:320px) and (max-width:460px){
    body{
        font-size: 12.5px;
    }
}
/* 背景 */
.timer-container {
    background: linear-gradient(to right, #bb81e2, #4ecdc4);
    animation: gradientBG 5s ease infinite;
    background-size: 400% 400%;
}

@keyframes gradientBG {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
